<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet"th:href="@{/css/normalize.css}" href="../../static/css/normalize.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet"th:href="@{/css/themify-icons.css}" href="../../static/css/themify-icons.css">
    <link rel="stylesheet"th:href="@{/css/flag-icon.min.css}" href="../../static/css/flag-icon.min.css">
    <link rel="stylesheet" th:href="@{/css/cs-skin-elastic.css}"href="../../static/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="../../static/css/bootstrap-select.less"> -->
    <link rel="stylesheet"th:href="@{/scss/style.css}" href="../../static/scss/style.css">

  

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


	<style type="text/css">
		.modal-backdrop.show {
			display: none;
		}

		.modal-backdrop.fade {
			display: none;
		}

		input[type=checkbox],
		input[type=radio] {
			width: 20px !important;
		}

		.up-msg {
			padding: 10px;
		}
	</style>


</head>

<body>
	<!-- Left Panel -->

	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./">BiziiDash</a>
				<a class="navbar-brand hidden" href="./">BD</a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="index.html"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
					</li>

					<h3 class="menu-title">Buyer Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Buyer</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-puzzle-piece"></i><a href="buyer_data_list.html">Buyer List</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="buyer_data_upload.html">Buyer upload</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Buyer Inquery Table</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Buyer Inquery Detail</a></li>
						</ul>
					</li>

					<h3 class="menu-title">Design Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Design</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Design</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Design</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Design</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Design</a></li>
						</ul>
					</li>

					<h3 class="menu-title">User Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>User</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-puzzle-piece"></i><a href="#">User</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">User</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">User</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">User</a></li>
						</ul>
					</li>

					<h3 class="menu-title">Inquery Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Inquery</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Inquery Upload</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Buyer Inquery</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Inquery</a></li>
							<li><i class="fa fa-puzzle-piece"></i><a href="#">Inquery</a></li>
						</ul>
					</li>


					<h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Components</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
							<li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Badges</a></li>
							<li><i class="fa fa-bars"></i><a href="ui-tabs.html">Tabs</a></li>
							<li><i class="fa fa-share-square-o"></i><a href="ui-social-buttons.html">Social Buttons</a></li>
							<li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Cards</a></li>
							<li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Alerts</a></li>
							<li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Progress Bars</a></li>
							<li><i class="fa fa-fire"></i><a href="ui-modals.html">Modals</a></li>
							<li><i class="fa fa-book"></i><a href="ui-switches.html">Switches</a></li>
							<li><i class="fa fa-th"></i><a href="ui-grids.html">Grids</a></li>
							<li><i class="fa fa-file-word-o"></i><a href="ui-typgraphy.html">Typography</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-table"></i><a href="tables-basic.html">Basic Table</a></li>
							<li><i class="fa fa-table"></i><a href="tables-data.html">Data Table</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children active dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Forms</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-th"></i><a href="forms-basic.html">Basic Form</a></li>
							<li><i class="menu-icon fa fa-th"></i><a href="forms-advanced.html">Advanced Form</a></li>
						</ul>
					</li>

					<h3 class="menu-title">Icons</h3><!-- /.menu-title -->

					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Icons</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Font Awesome</a></li>
							<li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Themefy Icons</a></li>
						</ul>
					</li>
					<li>
						<a href="widgets.html"> <i class="menu-icon ti-email"></i>Widgets </a>
					</li>
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Chart JS</a></li>
							<li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Flot Chart</a></li>
							<li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Peity Chart</a></li>
						</ul>
					</li>

					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Maps</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Google Maps</a></li>
							<li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Vector Maps</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Extras</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Pages</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Login</a></li>
							<li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Register</a></li>
							<li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Forget Pass</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</aside><!-- /#left-panel -->

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<!-- Header-->
		<header id="header" class="header">

			<div class="header-menu">

				<div class="col-sm-7">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">
						<button class="search-trigger"><i class="fa fa-search"></i></button>
						<div class="form-inline">
							<form class="search-form">
								<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
								<button class="search-close" type="submit"><i class="fa fa-close"></i></button>
							</form>
						</div>

						<!--
                        <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                          </div>
                        </div>
-->

						<!--
                        <div class="dropdown for-message">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                          </div>
                        </div>
-->
					</div>
				</div>

				<div class="col-sm-5">
					<div class="user-area dropdown float-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="user-avatar rounded-circle" src="admin.jpg" alt="User Avatar" th:src="@{/images/admin.jpg}">
						</a>

						<div class="user-menu dropdown-menu">
							<a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

							<a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
						</div>
					</div>

					<!--
                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language" >
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>
-->

				</div>
			</div>

		</header><!-- /header -->
		<!-- Header-->

		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Buyer Info</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Dashboard</a></li>
							<li><a href="#">Buyer Info</a></li>
							<li class="active">Buyer Upload</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="up-msg">
			<div class="col-sm-6 text-left">
				<input type="text" id="" name="" placeholder="Message" th:value="${message}"readonly style="color: limegreen; display: block">
			</div>
			<div class="col-sm-6 text-right">
				<a class="btn btn-primary btn-sm" th:href="@{/owners/add}">New</a>
				<a class="btn btn-success btn-sm" th:href="@{/owners}">View</a>
			</div>
		</div>

		<div class="content mt-3">
			<div class="animated fadeIn">


				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Buyer Info Upload Form</strong>
							</div>
							<div class="card-body">
								<!-- Credit Card -->
								<div id="">
									<div class="card-body">
										<form class="needs-validation" th:object="${owner}" th:action="@{/owners}" method="post" novalidate>
											<div class="row">
												<div class="col-2">
													<div class="form-group">
														<label class="control-label mb-1">Buyer/Other ID</label>
														<input type="text" class="form-control" aria-required="true" aria-invalid="false" name="BUYER_ID" placeholder="ID" th:field="*{orderOwnerId}" readonly>
													</div>
												</div>
												<div class="col-2">
													<div class="form-group">
														<label class="control-label mb-1">Business Type</label>
														  <select  th:field="*{modelBusinessType.typeId}" required class="form-control" aria-required="true" aria-invalid="false"  >
                                                            <option value="0">Choose Type</option>
                                                            <option th:each="type:${typeList}"
																th:value="${type.typeId}"
																th:utext="${type.typeName}"
																
																/>
															
																
                                                        </select>
													</div>
												</div>
												<div class="col-3">
													<div class="form-group">
														<label for="cc-payment" class="control-label mb-1">Buyer/Other Type</label>
													<select th:field="*{orderOwnerType.orderOwnerTypeId}" name="ORDER_OWNER_TYPE_ID" required class="form-control" aria-required="true" aria-invalid="false">
                                                            <option value="0">Choose Type</option>
                                                            <option th:each ="oType:${ownerTypeList}"
                                                            th:value="${oType.orderOwnerTypeId}"
                                                            th:utext="${oType.orderOwnerTypeName}"
                                                            
                                                            
                                                            />
                                                           
                                                           
                                                        </select>
													</div>
												</div>
												<div class="col-2">
													<div class="form-group">
														<label  class="control-label mb-1">Short Code</label>
														<input type="text" class="form-control" aria-required="true" aria-invalid="false" value="LTE" name="SHORT_CODE" placeholder="short code" th:field="*{shortCode}">
													</div>
												</div>
												<div class="col-3">
													<div class="form-group">
														<label for="validationCustom01" class="control-label mb-1">Buyer/Other Name<span class="req">*</span></label>
														<input id="validationCustom01" type="text" class="form-control" aria-required="true" aria-invalid="false" value="" name="BUYER_NAME" placeholder="buyer/other name" th:field="*{ownerName}" required>
														<div class="invalid-feedback">
															Please choose a username.
														</div>
													</div>
												</div>
											</div>

											<div class="row">


												<div class="col-4">
													<div class="form-group">
														<label for="cc-payment" class="control-label mb-1">Country</label>
														 <select  id="countryName" name="countryName" th:field="*{ownerCountry.countryId}"class="form-control" aria-required="true" aria-invalid="false">
                                                            <option value="0">Choose Country</option>
                                                           <option th:each="country:${countryList}"
															th:value="${country.countryId}"	
															th:utext="${country.countryName}"
															
															
															 />
															
															 
															
                                                        </select>
													</div>
												</div>

												<div class="col-2">
													<div class="form-group">
														<label class="control-label mb-1">Post Code</label>
														<input type="text" class="form-control" aria-required="true" aria-invalid="false" name="POST_CODE" placeholder="Post Code" pattern="[0-9]{0,}" title="Only Numreic Number" th:field="*{postCode}">

													</div>
												</div>
												<div class="col-3">
													<div class="form-group">
														<label for="cc-payment" class="control-label mb-1">Contact Person</label>
														<input type="text" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="Contact Person" th:field="*{contactPersonName}">
													</div>
												</div>
												<div class="col-3">
													<div class="form-group">
														<label for="validationCustom02" class="control-label mb-1">Email<span class="req">*</span></label>
														<input id="validationCustom02" type="text" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="email@mail.com" th:field="*{ownerEmail}" required>
														<div class="invalid-feedback">
															Please choose an Email.
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-4">
													<div class="form-group">
														<label class="control-label mb-1"> Address</label>
														<textarea rows="5" cols="50" placeholder="Type you address here..." name="BUYER_ADDRESS" id="" class="form-control" aria-required="true" aria-invalid="false" th:field="*{ownerAddress}">



                                                    </textarea>
													</div>
												</div>


												<div class="col-6">
													<div class="form-group">
														<label class="control-label mb-1">Remarks</label>
														<textarea rows="5" cols="50" placeholder="Type you message here..." name="remarks" class="form-control" aria-required="true" aria-invalid="false" th:field="*{remarks}">



                                                    </textarea>
													</div>
												</div>
												<div class="col-2">
													<div class="form-group">
														<label class="control-label mb-1">Active</label>
														<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}">
													</div>
												</div>
											</div>





											<div>

												<input type="submit" value ="Submit" class="btn btn-primary btn-md">
													
												

											</div>
										</form>



									</div>
								</div>

							</div>
						</div> <!-- .card -->

					</div>
					<!--/.col-->







				</div>

				<div class="row contact-list">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Contact List</strong>

							</div>
							<div class="card-body">
								<button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#largeModal">
									Add Contact <i class="fa fa-plus-square-o"></i>
								</button>


								<!--                                   Phone pop up                     -->



								<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="largeModalLabel">Add Buyer Contact</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">

											 <form class="needs-validation" th:object="${phone}" th:action="@{/owner/phone}" method="post" novalidate>


													<div class="row">

														<div class="col-3" style="display:none">
															<div class="form-group">
																<label for="" class="control-label mb-1" style="display:none">Phone ID</label>
																<input type="hidden" class="form-control" aria-required="true" aria-invalid="false" name="" th:field="*{phoneId}" readonly>
															</div>
														</div>

														<div class="col-3">
															<div class="form-group">
																<label for="orderOwner"  class="control-label mb-1">Buyer/Other ID<span class="req">*</span></label>
																 <input  id ="orderOwner" type="text" class="form-control" aria-required="true" aria-invalid="false" name="" th:field="*{owner.orderOwnerId}" required readonly >
																<div class="invalid-feedback">
																	Please Save Buyer/Other first.
																</div>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Phone Type</label>
																<select class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="Type" th:field="*{typeId}" required>
																	<option value="0"> Select Type</option>
																	<option value="1"> Cell</option>
																	<option value="2"> Lan</option>
																</select>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Country</label>
																<select id="countryName" name="countryName" th:field="*{modelCountry.countryId}" class="form-control" aria-required="true" aria-invalid="false">
																	<option value="0">Choose Country</option>
																	<option th:each="country:${countryList}" th:value="${country.countryId}" th:utext="${country.countryName}" />
																</select>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Area Code</label>
																<input type="text" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="area Code" pattern="[0-9]{0,}" title="Only Numreic Number" th:field="*{areaCode}">
															</div>
														</div>

													</div>

													<div class="row">

														<div class="col-3">
															<div class="form-group">
																<label for="validationCustom02" class="control-label mb-1">Number<span class="req">*</span></label>
																<input id="validationCustom02" type="tel" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="contact No" pattern="[0-9]{0,11}" title="Only Numreic Number" th:field="*{phoneNumber}" required>
																<div class="invalid-feedback">
																	Please give a valid Phone Number.
																</div>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Emergency</label>
																<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="" th:field="*{emergency}">
															</div>
														</div>

														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Active</label>
																<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="" th:field="*{active}">
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<div class="row">
															<div class="col-12">
																<input type="submit" class="btn btn-primary btn-sm ">
															</div>
														</div>

													</div>

												</form>


											</div>

										</div>
									</div>
								</div>


								<!--                        Modal for edit phone                   -->


								<div class="modal fade" id="umodal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="largeModalLabel">Add Buyer Contact</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">

												 <form class="needs-validation" id="edit-form" role="form" th:method="post" th:action="@{/owner/phone/update}" th:object="${phone}" novalidate="novalidate">

													<div class="row">

														<div class="col-3" style="display:none">
															<div class="form-group">
																<label for="" class="control-label mb-1">Phone ID</label>
																<input id="update-phoneId" type="text" class="form-control" aria-required="true" aria-invalid="false" name="" th:field="*{phoneId}" readonly>
															</div>
														</div>

														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Buyer/Other ID</label>
																 <input id ="update-ownerId" type="text" class="form-control" aria-required="true" aria-invalid="false" name="" th:field="*{owner.orderOwnerId}" readonly >
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Phone Type</label>
																<select id="update-typeId" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="Type" th:field="*{typeId}">
																	<option value="0"> Select Type</option>
																	<option value="1"> Cell</option>
																	<option value="2"> Lan</option>
																</select>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Country</label>
																<select id="update-countryId" name="countryName" th:field="*{modelCountry.countryId}" class="form-control" aria-required="true" aria-invalid="false">
																	<option value="0">Choose Country</option>
																	<option th:each="country:${countryList}" th:value="${country.countryId}" th:utext="${country.countryName}" />
																</select>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Area Code</label>
																<input id="update-areaCode" type="tel" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="area Code" pattern="[0-9]{0,}" title="Only Numreic Number" th:field="*{areaCode}">
															</div>
														</div>

													</div>

													<div class="row">

														<div class="col-3">
															<div class="form-group">
																<label for="update-phoneNumber" class="control-label mb-1">Number<span class="req">*</span></label>
																<input id="update-phoneNumber" type="tel" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="contact No" pattern="[0-9]{0,11}" title="Only Numreic Number" th:field="*{phoneNumber}" required>
																<div class="invalid-feedback">
																	Please choose a Number.
																</div>
															</div>
														</div>
														<div class="col-3">
															<div class="form-group" style="padding-left: 0px">

																<label for="" class="control-label mb-1">Emergency</label>
																<input id="update-emergency" type="checkbox" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="" th:field="*{emergency}">
															</div>
														</div>

														<div class="col-3">
															<div class="form-group">
																<label for="" class="control-label mb-1">Active</label>
																<input id="update-active" type="checkbox" class="form-control" aria-required="true" aria-invalid="false" name="" placeholder="" th:field="*{active}">
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<div class="row">
															<div class="col-12">
																<input type="submit" class="btn btn-primary btn-sm " data-dismiss="umodal">
															</div>
														</div>

													</div>

												</form>


											</div>

										</div>
									</div>
								</div>
								<table id="table" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th hidden>Phone Id</th>
											<th>Phone Type</th>
											<th>Country</th>
											<th>Area Code</th>
											<th>Number</th>
											<th>Emergency</th>
											<th>Active</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody id="table-body">
										<tr th:if="${phoneList.empty}">
											<td colspan="7" align="center"> No Data Available </td>
										</tr>
										<tr th:each="phone : ${phoneList}">
											<td hidden> <span th:text="${phone.phoneId}"> </span> </td>
											<td align="center"><span th:text="${phone.phoneType}"> </span></td>

											<td><span th:text="${phone.modelCountry.countryName}"> </span></td>
											<td align="center"><span th:text="${phone.areaCode}"> </span></td>
											<td><span th:text="${phone.phoneNumber}"> </span></td>
											<td align="center"><span th:text="${phone.sEmergency}"> </span></td>
											<td align="center"><span th:text="${phone.sActive}"> </span></td>
											<td align="center">
												<button type="button" class="btn btn-primary mb-1" data-toggle="modal" data-target="#umodal" th:onclick="'showEditModal(' + ${phone.phoneId} + ')'">
													Edit
												</button>

												<!--   <a data-toggle="modal" data-target="#umodal"
																					th:onclick="'showEditModal(' + ${phone.phoneId} + ')'">Edit</a>
                                                       						
																             -->
											</td>



										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>

			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

 <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
     <script src="/js/ajax.js"></script>
	


	<script src="/js/lib/data-table/datatables.min.js"></script>
	<script src="/js/lib/data-table/dataTables.bootstrap.min.js"></script>
	<script src="/js/lib/data-table/dataTables.buttons.min.js"></script>
	<script src="/js/lib/data-table/buttons.bootstrap.min.js"></script>
	<script src="/js/lib/data-table/jszip.min.js"></script>
	<script src="/js/lib/data-table/pdfmake.min.js"></script>
	<script src="/js/lib/data-table/vfs_fonts.js"></script>
	<script src="/js/lib/data-table/buttons.html5.min.js"></script>
	<script src="/js/lib/data-table/buttons.print.min.js"></script>
	<script src="/js/lib/data-table/buttons.colVis.min.js"></script>
	<script src="/js/lib/data-table/datatables-init.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTable').DataTable({
				"scrollX": true
			});
			$('#sub-close').submit(function(e) {
				e.preventDefault();
				// Coding
				//$('#umodal').modal('toggle'); 
				$('#umodal').modal('hide');
				return false;
			});
		});

		
	</script>
	<script>
        $(document).ready(function ($) {
            $("#edit-form").submit(function (event) {
                //event.preventDefault();
                postEdit();
            });
        });
    </script>
</body>

</html>