<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <link rel="stylesheet" href="/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <style type="text/css">
        div.dataTables_wrapper div.dataTables_length label{
            display: none;
        }
        div.dataTables_wrapper div.dataTables_info{
            display: none;
        }
    </style>
</head>
<body>
        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./">BiziiDash</a>
				<a class="navbar-brand hidden" href="./">BD</a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					


					<h3 class="menu-title">Buyer Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Buyer</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="buyer_data_upload.html">Buyer upload</a></li>
							<li><a href="buyer_search_design.html">Buyer Search</a></li>
						</ul>
					</li>

					<h3 class="menu-title">Design Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Design</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="design_table.html">Design</a></li>
							<li><a href="design_search.html">Design Search</a></li>
						</ul>
					</li>

					

					<h3 class="menu-title">Inquery Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Inquery</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="inquery_table.html">Inquery</a></li>
							<li><a href="inquery_data_upload.html">Inquery Upload</a></li>
							<li><a href="inquery_ms_details.html">Inquery Master Details</a></li>
							<li><a href="inquery_verification.html">Inquery Verification</a></li>
						</ul>
					</li>
					
					<h3 class="menu-title">Machine Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Machine</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Machine_search.html">Machine List</a></li>
							<li><a href="Machine_data_upload.html">Machine Upload</a></li>
						</ul>
					</li>
					
					<h3 class="menu-title">Cost Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Cost</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="cost_head_search.html">Cost List</a></li>
							<li><a href="cost_calculation.html">Cost Calculation</a></li>
							<li><a href="cost_head.html">Cost Head</a></li>
						</ul>
					</li>
					
					<h3 class="menu-title">Item Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Item</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Item_list.html">Item List</a></li>
							<li><a href="item_type_list.html">Item Type List</a></li>
							<li><a href="item_type%20(category).html">Item Type Category</a></li>
							<li><a href="item_entry.html">Item Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Purchase Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Purchase</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Purchase_price_data_upload.html">Purchase Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Specification Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Specification</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Specification_data_upload%20.html">Specification Data Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Supplier Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Supplier</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Supplier_data_upload%20.html">Supplier Data Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">UOM Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>UOM</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="uom_list.html">UOM List</a></li>
							<li><a href="uom_upload.html">UOM Upload</a></li>
						</ul>
					</li>
					



				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        

                        
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>


                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Buyer Inquery Table</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Inquery</a></li>
                            <li class="active">Buyer Inquery table</li>
                        </ol>
                    </div>  
                </div>
            </div>
        </div>
        <div class="content">
                <div class="row">
                    <div class="col-8">
                        <form  th:action="@{/owners/}"> 
                            <div class="row">
                                <div class="col-8">
                                   <div class="row">
                                       <div class="col-4">
                                          <label>User:</label>
                                           <select class="form-control" name= user>
                                                <option value=0>Choose User</option>
                                        <!--         <option th:each="user:${userList}"
																th:value="${user.userId}"
																th:utext="${user.userName}"
																
																/>--> 
                                            </select>
                                       </div>
                                       <div class="col-4">
                                          <label>Name:</label>
                                           <input type="text" class="form-control" placeholder="Buyer/Other name" name ="owner_name" >
                                       </div>
                                       <div class="col-2">
                                           <label>Active</label>
                                           <input type="checkbox" class="form-control" name ="active">
                                       </div>
                                       <div class="col-2">
                                           <input type="submit" value="Search" class="btn btn-primary btn-md" style="margin-top: 32px">
                                       </div>
                                   </div>
                                    
                                    
                                </div>
                                <div class="col-4">
                                   <a href="buyer_data_upload.html" class="btn btn-primary" style="margin-top: 32px">New Buyer</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4" style="text-align: right">
                        <a href="inquery_ms_details.html" class="btn btn-success" style="margin-top: 32px">New Inquery</a>
                    </div>
                </div>
          
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                <div class="col-md-4">
                    <div class="card" style="overflow-x: scroll">
                        <div class="card-header">
                            <strong class="card-title">Buyer/Other</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Buyer/Other Name</th>
                        <th>Inq No</th>
                        <th>Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr >
                        <td>Quinn Flynn</td>
                          <td>5</td>
                          <td><a  class="btn btn-primary mb-1"  >View</a>
								<a  class="btn btn-primary mb-1"  >New Inq</a>				
													
												
												
						</td>
                          
                      </tr>
                      
                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card" style="overflow-x: scroll; width: 100%">
                        <div class="card-header">
                            <strong class="card-title" style="width: 100%">Inquerys</strong>
                        </div>
                        <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Inquery ID</th>
                        <th>Sent Mail</th>
                        <th>Design</th>
                        <th>Production</th>
                        <th>Delevery</th>
                        <th>Entered By</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>2131</td>
                        <td>email@mail.com</td>
                        <td><a href="#">Link here</a></td>
                        <td>PD21</td>
                        <td>DE</td>
                        <td>BY Him</td>
                        <td><a href="#" class="btn btn-success btn-sm">View</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>2131</td>
                        <td>email@mail.com</td>
                        <td><a href="#">Link here</a></td>
                        <td>PD21</td>
                        <td>DE</td>
                        <td>BY Him</td>
                        <td><a href="#" class="btn btn-success btn-sm">View</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>2131</td>
                        <td>email@mail.com</td>
                        <td><a href="#">Link here</a></td>
                        <td>PD21</td>
                        <td>DE</td>
                        <td>BY Him</td>
                        <td><a href="#" class="btn btn-success btn-sm">View</a></td>
                      </tr>
                      
                      <tr>
                        <td>1</td>
                        <td>2131</td>
                        <td>email@mail.com</td>
                        <td><a href="#">Link here</a></td>
                        <td>PD21</td>
                        <td>DE</td>
                        <td>BY Him</td>
                        <td><a href="#" class="btn btn-success btn-sm">View</a></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>2131</td>
                        <td>email@mail.com</td>
                        <td><a href="#">Link here</a></td>
                        <td>PD21</td>
                        <td>DE</td>
                        <td>BY Him</td>
                        <td><a href="#" class="btn btn-success btn-sm">View</a></td>
                      </tr>
                      
                    </tbody>
                  </table>
                        </div>
                    </div>
                </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>


    <script src="/js/lib/data-table/datatables.min.js"></script>
    <script src="/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/js/lib/data-table/jszip.min.js"></script>
    <script src="/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );
    </script>


</body>
</html>
