<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>UOM</title>
	<meta name="description" content="Sufee Admin - HTML5 Admin Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-icon.png">
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet"th:href="@{/css/normalize.css}" href="../../static/css/normalize.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"href="../../static/css/font-awesome.min.css">
    <link rel="stylesheet"th:href="@{/css/themify-icons.css}" href="../../static/css/themify-icons.css">
    <link rel="stylesheet"th:href="@{/css/flag-icon.min.css}" href="../../static/css/flag-icon.min.css">
    <link rel="stylesheet" th:href="@{/css/cs-skin-elastic.css}"href="../../static/css/cs-skin-elastic.css">
	 <!-- <link rel="stylesheet" href="../../static/css/bootstrap-select.less"> -->
    <link rel="stylesheet"th:href="@{/scss/style.css}" href="../../static/scss/style.css">

  

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


	<style type="text/css">
		.modal-backdrop.show {
			display: none;
		}

		.modal-backdrop.fade {
			display: none;
		}

		input[type=checkbox],
		input[type=radio] {
			width: 20px !important;
		}

		.up-msg {
			padding: 10px;
		}
	</style>


</head>

<body>
	<!-- Left Panel -->

	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./">BiziiDash</a>
				<a class="navbar-brand hidden" href="./">BD</a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					
					<h3 class="menu-title">Inquery Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Inquery</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="inquery_table.html">Inquery</a></li>
							<li><a href="inquery_data_upload.html">Inquery Upload</a></li>
							<li><a href="inquery_ms_details.html">Inquery Master Details</a></li>
							<li><a href="inquery_verification.html">Inquery Verification</a></li>
						</ul>
					</li>

					<h3 class="menu-title">Buyer Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Buyer</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="buyer_data_upload.html">Buyer upload</a></li>
							<li><a href="buyer_search_design.html">Buyer Search</a></li>
						</ul>
					</li>

					<h3 class="menu-title">Design Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Design</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="design_table.html">Design</a></li>
							<li><a href="design_search.html">Design Search</a></li>
						</ul>
					</li>

					

					
					
					<h3 class="menu-title">Machine Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Machine</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Machine_search.html">Machine List</a></li>
							<li><a href="Machine_data_upload.html">Machine Upload</a></li>
						</ul>
					</li>
					
					<h3 class="menu-title">Cost Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Cost</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="cost_head_search.html">Cost List</a></li>
							<li><a href="cost_calculation.html">Cost Calculation</a></li>
							<li><a href="cost_head.html">Cost Head</a></li>
						</ul>
					</li>
					
					<h3 class="menu-title">Item Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Item</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Item_list.html">Item List</a></li>
							<li><a href="item_type_list.html">Item Type List</a></li>
							<li><a href="item_type%20(category).html">Item Type Category</a></li>
							<li><a href="item_entry.html">Item Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Purchase Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Purchase</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Purchase_price_data_upload.html">Purchase Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Specification Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Specification</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Specification_data_upload%20.html">Specification Data Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">Supplier Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Supplier</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="Supplier_data_upload%20.html">Supplier Data Upload</a></li>
						</ul>
					</li>
					<h3 class="menu-title">UOM Info</h3><!-- /.menu-title -->
					<li class="menu-item-has-children dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>UOM</a>
						<ul class="sub-menu children dropdown-menu">
							<li><a href="uom_list.html">UOM List</a></li>
							<li><a href="uom_upload.html">UOM Upload</a></li>
						</ul>
					</li>
					



				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</aside><!-- /#left-panel -->

	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<!-- Header-->
		<header id="header" class="header">

			<div class="header-menu">

				<div class="col-sm-7">
					<a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
					<div class="header-left">
						<button class="search-trigger"><i class="fa fa-search"></i></button>
						<div class="form-inline">
							<form class="search-form">
								<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
								<button class="search-close" type="submit"><i class="fa fa-close"></i></button>
							</form>
						</div>

						<!--
                        <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                          </div>
                        </div>
-->

						<!--
                        <div class="dropdown for-message">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                          </div>
                        </div>
-->
					</div>
				</div>

				<div class="col-sm-5">
					<div class="user-area dropdown float-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

						<div class="user-menu dropdown-menu">
							<a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

							<a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
						</div>
					</div>

					<!--
                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language" >
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>
-->

				</div>
			</div>

		</header><!-- /header -->
		<!-- Header-->

		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>UOM</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Dashboard</a></li>
							<li><a href="#">UOM</a></li>
							<li class="active">UOM Upload</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="up-msg">
			<div class="col-sm-6 text-left">
				<input type="text" id="" name="" placeholder="Message" th:value="${message}"readonly style="color: limegreen; display: block">
			</div>
			<div class="col-sm-6 text-right">
				<a class="btn btn-primary btn-sm" th:href="@{/uom/init}">New</a>
				<a class="btn btn-success btn-sm" th:href="@{/}">View</a>
			</div>
		</div>

		<div class="content mt-3">
			<div class="animated fadeIn">


				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">UOM Upload Form</strong>
							</div>
							<div class="card-body">
								<!-- Credit Card -->
								<div id="">
									<div class="card-body">
										<form class="needs-validation" th:object="${uom}" th:action="@{/uom/save}" method="post" novalidate>
											<div class="row">
												<div class="col-3">
													<div class="form-group">
														<label class="control-label mb-1">UOM ID</label>
														<input type="text" class="form-control" aria-required="true" aria-invalid="false" name="UOM_ID" th:field="*{uomId}" placeholder="ID" readonly>
													</div>
												</div>
											
												<div class="col-3">
													<div class="form-group">
														<label for="validationCustom01" class="control-label mb-1">UOM Name<span class="req">*</span></label>
														<input id="validationCustom01" type="text" class="form-control" aria-required="true" aria-invalid="false" value="" name="uomName" th:field="*{uomName}" placeholder="Name" required>
														<!-- 
														<div class="invalid-feedback">
															Please choose a username.
														</div>
														 -->
													</div>
												</div>
												
												<div class="col-3">
													<div class="form-group">
														<label  class="control-label mb-1">Short Code</label>
														<input type="text" class="form-control" aria-required="true" aria-invalid="false" value="LTE" name="SHORT_CODE" th:field="*{shortCode}"  placeholder="short code" >
													</div>
												</div>
											</div>

										

											<div class="row">
											

												<div class="col-6">
													<div class="form-group">
														<label class="control-label mb-1">Remarks</label>
														<textarea rows="5" cols="50" placeholder="Type you message here..." name="remarks" class="form-control" aria-required="true" th:field="*{remarks}"  aria-invalid="false">



                                                    </textarea>
													</div>
												</div>
											
                     			<div class="col-1">
									<div class="form-group">
										<label class="control-label mb-1">Active</label>
														<!-- Default checked -->
										<div class="custom-control custom-checkbox">
											 <input type="checkbox" class="custom-control-input" id="defaultChecked2" th:field="*{active}"  checked>
											<label class="custom-control-label" for="defaultChecked2"></label>
										</div>
														<!--<input type="checkbox" class="form-control" aria-required="true" aria-invalid="false" th:field="*{active}"-->
									</div>
								</div>
								
											</div>





											<div>

												<button type="submit" class="btn btn-primary btn-md">
													<i class="fa fa-dot-circle-o"></i> Save
												</button>

											</div>
										</form>



									</div>
								</div>

							</div>
						</div> <!-- .card -->

					</div>
					<!--/.col-->
				</div>



<!----------------------------------------------------------------------------------------------------------------------------------->


			

				

			</div><!-- .animated -->
		</div><!-- .content -->


	</div><!-- /#right-panel -->

	<!-- Right Panel -->


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/ajax.js"></script>


	<script src="/js/lib/data-table/datatables.min.js"></script>
	<script src="/js/lib/data-table/dataTables.bootstrap.min.js"></script>
	<script src="/js/lib/data-table/dataTables.buttons.min.js"></script>
	<script src="/js/lib/data-table/buttons.bootstrap.min.js"></script>
	<script src="/js/lib/data-table/jszip.min.js"></script>
	<script src="/js/lib/data-table/pdfmake.min.js"></script>
	<script src="/js/lib/data-table/vfs_fonts.js"></script>
	<script src="/js/lib/data-table/buttons.html5.min.js"></script>
	<script src="/js/lib/data-table/buttons.print.min.js"></script>
	<script src="/js/lib/data-table/buttons.colVis.min.js"></script>
	<script src="/js/lib/data-table/datatables-init.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTable').DataTable({
				"scrollX": true
			});
			$('#sub-close').submit(function(e) {
				e.preventDefault();
				// Coding
				//$('#umodal').modal('toggle'); 
				$('#umodal').modal('hide');
				return false;
			});
		});

		
	</script>
</body>

</html>